{{ define "main" }}
{{ .Content }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ end }}

<table class="posts">
	<thead>
		<tr>
			<th>Date</th>
			<th>Title</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
	{{- range .Data.Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<tr>
			<td>{{ dateFormat "Jan 2, 2006" .Date }}</td>
			<td><a href="{{ .RelPermalink }}">{{.Title}}</a></td>
			<td>{{ if .Draft }}<span class="status-draft">DRAFT</span>{{ end }}</td>
		</tr>
		{{- end -}}
	{{- end -}}
	</tbody>
</table>
{{ end }}
