<footer>
  {{/*
  <div style="display: flex">
    */}} {{/* {{- range $index, $key := .Site.Params.Social -}}
    <a class="soc" href="{{ $key.url }}" rel="me" title="{{ $key.name }}"
      ><i data-feather="{{ $key.icon }}"></i
    ></a>
    <a class="border"></a>
    {{- end -}} */}} {{/*
  </div>
  */}}
  <div class="footer-info">
    {{ with .GitInfo }}
    <div>latest commit #{{ .Hash }}</div>
    <div>
      sometime in {{ .CommitDate.Format "2006/01" }} by {{ .AuthorName }}
    </div>
    {{ end }}
  </div>
</footer>

{{/* {{- if (isset .Site.Params "social") -}}
<script>
  feather.replace();
</script>
{{- end -}} */}}
